<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="graduuaplicacao.graduuaplicacao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".Activities.Home"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".Activities.RegistroDeEventoActivity" />
        <activity android:name=".Activities.EventosActivity" />

        <activity android:name=".Activities.PerfilActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.ConfiguracoesActivity"
            android:label="@string/title_activity_configuracoes" />
        <activity android:name=".Activities.EventoAbertoActivity" />
        <activity android:name=".Activities.CadastroActivity"></activity>
        <activity android:name=".Activities.RecyclerTeste"></activity>
    </application>

</manifest>